// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;

// Custom Style
// header
.header {
    background: url('../../images/header_background.jpg');
}

// title
.site-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

// brand
.brand {
    background: rgba(240, 240, 240, 0.8);
}

// subtitle
.site-subtitle {
    font-size: 15px;
    color: black;
}

// menu
.menu {
    margin: auto;
    text-align: center;
    background: rgba(240, 240, 240, 0.8);
    width: 100%;
    border-radius: initial;
}

// superlink
a {
    color: rgba(0, 0, 0, 0.8); // color: white;
}

a:hover {
    color: #ff106c;
    border-bottom-color: #ff106c;
}

// menu font
.menu .menu-item {
    background: rgba(240, 240, 240, 1.0);
}

// menu font
.menu .menu-item a {
    font-size: 14px;
    color: black;
}

.menu .menu-item a:hover {
    border-bottom-color: #ff106c;
    color: #ff106c;
}

// about
.site-description {
    font-size: 16px;
}

// name
.site-author-name {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
}

// button
.btn {
    margin-top: 20px;
}

// code style
code {
    color: #E6006B;
    background: white;
    border-radius: 3px;
}

body {
    color: #444;
    font-size: 16px;
}